<h1>Welcome Back to BetterMint.</h1><br>
<h3>Please enter your login information below:</h3><br><br>
<%= form_for :user, url: '/login' do |f| %>
Email: <%= f.text_field :email %><br><br>
Password: <%= f.password_field :password %><br><br>
<%= f.submit "Submit" %>
<% end %>
