<!DOCTYPE html>
<html>
<head>
</head>
<body >


    <div class="text-center">
      <br><br><br><br><br><br><br><br><br><br>
      <font size="7">LEMMEN</font><br><br>
      <h4><i>Connecting the dots on your personal finances</h4><br><br><br><br>

      <%= link_to "Sign up", signup_path, class: "btn2 btn-primary" %><br><br><br><br>
      <%= link_to "Log in", login_path, class: "btn2 btn-primary" %><br>

    </div>


</body>
</html>
