 <body class="off-canvas">

   <%= render template: "layouts/_header" %>
   <%= render template: "layouts/_sidebar" %>

   <!--main content start-->
   <section class="main-content-wrapper">
     <section id="main-content">
         <%= render template: "layouts/_tiles_top" %>


   <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
 


   </div>
   </div>

     </section>
   </section>

   

</body>

