// Place all the styles related to the graph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none !important;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line2 {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}
