<ul class="account-list">
<% @accounts.each do |a| %>
  <h3><%= a.name %></h3>
  <li class="a-available">Available Balance: <%= number_to_currency(a.available_balance) %></li>
  <li class="a-current">Current Balance: <%= number_to_currency(a.current_balance) %></li><br><br>
<% end %>
</ul>
