<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lemmen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body class="off-canvas">

  <%= render template: "layouts/_header" %>
  <%= render template: "layouts/_sidebar" %>
  
  <!--main content start-->
  <section class="main-content-wrapper">
    <section id="main-content">
      <div>
        <%= plaid_link(name:@user.email, action:'add_account', data: {longtail: true}) %>
      </div>
    </section>
  </section>
</body>
